.login {
    background-color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
}

.form-login {
    background-color: white;
    border: 1px solid black;
    margin: 60px auto;
    height: 50vh;
    padding: 30px;
    width: 45%;
}

input {
    border-style: none;
    border: 2px solid;
    height: 50px;
    width: 100%;
    border-radius: 4px;
    padding: 4px;
}

input[type="text"] {
    font-size: 1.2em;
}

input[type="password"] {
    font-size: 1.2em;
}

button {
    font-size: 1em;
    width: 90%;
    margin-top: 30px;
    margin-left: 30px;
    height: 70px;
    background-color: skyblue;
}

button:hover {
    cursor: pointer;
}
