.signup {
    background-color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
}

.form1 {
    background-color: white;
    border: 1px solid black;
    margin: 60px auto;
    height: 40vh;
    padding: 30px;
    width: 45%;
}

.form-element input {
    border-style: none;
    border: 2px solid;
    height: 40px;
    margin-top: 10px;
    width: 100%;
    border-radius: 4px;
    padding: 4px;
}

.form-element input[type="email"] {
    font-size: 1em;
}
.form-element button {
    font-size: 1em;
    width: 90%;
    margin-left: 30px;
    height: 50px;
    background-color: skyblue;
}
