.container {
	display: flex;
	flex-direction: row;
	max-width: 100%;
	margin: 0%;
    overflow-x: scroll;
}
.list1 {
	background-color: white;
	width: 25%;
	padding-top: 2vh;
}
.list2 {
	background-color: aquamarine;
    padding: 4px;
    width: 75%;
	overflow-x: auto;
}
.addmore :hover{
    cursor: pointer;
}
.tables {
	margin: 5vh auto;
	overflow-x: scroll;
}

